.error {
    margin-top: 10px;
    max-width: 200px;
    background-color: #F44336;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

.success {
    margin-top: 10px;
    max-width: 200px;
    background-color: #4CAF50;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}